body, h1 {
    font-family: "montserrat";
    font-weight: 300;
    color: var(--darkTextColor, #3a3a3a);
    background-color: var(--lightBlue, #1da8db);
}

::selection {
    background-color: #080042;
    color: #e2e2e2;
}

a {
    color: #080042;
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 1px;
}

a:hover {
    color: #4a466c;
}

.headerblock {
    margin: 0px;
    width: 100%;
    position: relative;
}

.headermain {
    margin: 0px;
    width: 100%;
    background-color: var(--darkBlue, #080042);
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headertitle {
    background-color: var(--darkBlue);
    color: var(--lightTextColor, #e2e2e2);
    margin: 0px;
    height: 150px;
    padding: 45px;
}

#headerimg {
    width: 20vw;
    max-width: 200px;
    background-color: var(--darkBlue);
    margin: 10px 10px 0px 0px;
}

.topwaveblock {
    height: fit-content;
    width: 100%;
}

#topwave {
    width: 100%;
    position: relative;
}

.mainBodyDiv {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: calc(100vh - 150px - (100vw * 325 / 1440));
    border-color: var(--primaryOrange, #f0790a);
}

#bottomwave {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 950px) {
    .mainBodyDiv {
      margin: 0px;
    }
}

@media screen and (max-width: 500px) {
    body{
      font-size: smaller;
    }
    h2 {
        font-size: medium;
    }
    h1 {
        font-size: large;
    }
}

@media screen and (max-width: 400px) {
    body{
      font-size: x-small;
    }
}

