.welcomeContent {
    color: var(--darkTextColor, #3a3a3a);
    border: 3px solid var(--darkBlue, #080042);
    background-color: var(--midGrey, #dcdce4);
    border-radius: 12px;
    padding: 20px;
}

select {
    height: 2rem;
    width: 100px;
    border-radius: 3px;
}

#submitbutton {
    height: 2rem;
    width: 100px;
    background-color: #f0790a;
    border-radius: 3px;
    color: #080042;
    border: 2px solid #080042;
    font-weight: 600;
}

#submitbutton:hover {
    background-color: #1da8db;
}